
@font-face {
  font-family: 'GTPressuraMono-Bold';
  src: url('GTPressuraMono-Bold.eot?#iefix') format('embedded-opentype'),  url('GTPressuraMono-Bold.woff') format('woff'), url('GTPressuraMono-Bold.ttf')  format('truetype'), url('GTPressuraMono-Bold.svg#GTPressuraMono-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
