
@font-face {
  font-family: 'National-Semibold';
  src: url('National-Semibold.eot?#iefix') format('embedded-opentype'),  url('National-Semibold.otf')  format('opentype'),
	     url('National-Semibold.woff') format('woff'), url('National-Semibold.ttf')  format('truetype'), url('National-Semibold.svg#National-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
