@value dark: #223B47;

@value light: #F7F7F9;

@value tsgreen: #7FEC60;

@value tsblue: #2AA7DD;

@value tsdarkgray: #aaa;

@value tsgray: #D0D2D3;

body {
    margin: 0;
    padding: 0;
    font: 400 110%/1.2 "GTPressuraMono", "Helvetica Neue", Arial;
    background: light;
    color: dark;
}

* {
    margin: 0;
    padding: 0;
}

.App {}

.Switcher {
    position: absolute;
    right: 0;
    bottom: 0;
}

.Header {
    text-align: center;
    background: dark;
    color: light;
    position: fixed;
    bottom: -1px;
    border-top: 2px solid #2a4958;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 100;
}

.Header .title {
    position: absolute;
    left: 0.5em;
    padding: 0.5em;
    font-weight: 100;
    font-family: "GTPressuraMono-Light";
}

.caption {
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em;
    color: #555;
}

.caption.footer {
    padding: 5em;
}

.logo {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-top: 0.4em;
}

.BlockList {
    padding-bottom: 100px;
}

h2 {
    font-size: 1em;
    font-weight: 500;
    word-spacing: -2px;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.Block {
    overflow: hidden;
    width: 100%;
    transition: opacity linear 0.5s;
    z-index: 1;
    position: relative;
}

.Block.inview {
    z-index: 100;
}

.Block.aboveview {
    border-color: #888;
    box-shadow: 0;
    z-index: 1;
    color: #888;
}

.Block.belowview {
}

.Block.belowview .container {}

.Block .container {
    width: 96%;
    background: light;
    margin: auto;
    border-bottom: 1px solid tsblue;
}

.Block .placeholder {
    position: absolute;
    font-size: 0.8em;
    padding-left: 1em;
    bottom: 0;
    left: 0;
    border-top: 0px;
    height: 0px;
    overflow: hidden;
    width: 100%;
    background: #fff;
    width: 100%;
    z-index: 100;
    transition: height linear 0.5s;
}

.Block.belowview .placeholder {
    border-top: 2px solid tsgray;
    height: 20px;
}

.Block ol {
    padding: 0.5em;
    list-style: none;
    display: table;
}

.Block li {
    display: table-row;
}

.Cell {
    display: table-cell;
    vertical-align: middle;
    padding: 2px 0 2px 0;
    position: relative;
}

.Cell--Route {
    width: 15%;
}

.Cell--Destination {
    width: 80%;
    font-weight: 400;
    font-family: "National-Book", Helvetica Neue, Arial;
}

.Cell--Prediction {
    width: 15%;
    min-width: 6em;
}

.predictions {
    font-size: 1.2em;
    word-spacing: -0.3em;
    font-weight: 400;
    width: 75%;
    text-align: right;
    float: left;
}

.label {
    float: left;
    width: 25%;
}

.label span {
    color: tsdarkgray;
    font-size: 0.6em;
    float: right;
    padding: 0.2em 0.2em 0 0;
}

.predictions span {
    display: inline-block;
    width: 1.5em;
    text-align: right;
}

.route-name {
    text-align: center;
    display: inline-block;
    padding: 0.2em 0.4em 0.2em 0.4em;
    border-radius: 2em;
    background: #ccc;
}